/*Variables*/
:root {
/*Colors*/
/*Primary*/
--moderate-blue: hsl(238, 40%, 52%);
--soft-red: hsl(358, 79%, 66%);
--light-grayish-blue: hsl(239, 57%, 85%);
--pale-red: hsl(357, 100%, 86%);

/*Neutral*/
--dark-blue: hsl(212, 24%, 26%);
--grayish-blue: hsl(211, 10%, 45%);
--light-gray: hsl(223, 19%, 93%);
--very-light-gray: hsl(228, 33%, 97%);
--white: hsl(0, 0%, 100%);

/*Font*/
--font-family: 'Rubik', sans-serif;

/*Font-sizes*/
--font-size-sm: clamp(0.8rem, 0.13vw + 0.77rem, 0.89rem);
--font-size-base: clamp(1rem, 0.27vw + 0.95rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.48vw + 1.15rem, 1.58rem);
--font-size-lg: clamp(1.56rem, 0.78vw + 1.41rem, 2.11rem);
--font-size-xl: clamp(1.95rem, 1.23vw + 1.71rem, 2.81rem);
--font-size-xxl: clamp(2.44rem, 1.87vw + 2.07rem, 3.75rem);
--font-size-xxxl: clamp(3.05rem, 2.78vw + 2.5rem, 5rem);

/*Screen sizes*/
--screen-size-md: 667px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flow-root;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--very-light-gray);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
}

#root {
    margin: 2rem 1rem;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 45.63rem); 
    margin: 0 auto;
}

/*Comment*/
.comment {
    display: grid;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1rem;
    background-color: var(--white);
    grid-template-columns: min-content repeat(2, 1fr);
    grid-template-areas: 
        "header header header"
        "text text text"
        "score . buttons";
}

/*Comment header*/
.comment__header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: clamp(250px, 80%);
}

.user-avatar {
    width: 2rem;
}

.comment__username {
    margin: 0 1em;
}

.time {
    text-align: center;
}

/*Comment body*/
.comment__body {
    grid-area: text;
    margin: 1.31rem 0;
    line-height: 1.5;
    color: var(--grayish-blue);
}

.comment__body span {
    color: var(--moderate-blue);
    font-weight: bold;
}

/*Score*/
.score {
    grid-area: score;
    align-self: start;
    display: flex;
    align-items: center;
    border-radius: 0.75em;
    font-weight: bold;
    background-color: var(--light-gray);
}

.score p {
    padding: 0 0.5em;
    color: var(--dark-blue);
}


.score button {
    border: 0;
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
    font-size: var(--font-size-md);
    color: var(--light-grayish-blue);
}

.score button:active {
    color: var(--moderate-blue);
}

/*Replies*/
.replies {
    border-left: 2px solid var(--light-gray);
    padding-left: 1rem;
}

/*Utility classes*/
.flex-end {
    justify-content: flex-end;
}

.blue-button {
    grid-area: buttons;
    justify-self: end;
    width: 6.5em;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.75em 1.25em;
    background-color: var(--moderate-blue);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}

.blue-button:active {
    background-color: var(--light-grayish-blue);
}

.you::after {
    content: 'you';
    padding: 0.25em 0.5em;
    margin-left: 0.5em;
    border: 1px solid black;
    border-radius: 0.25em;
    color: var(--white);
    background-color: var(--moderate-blue);
    font-size: var(--font-size-sm);
}

/*Mid size screens*/
@media screen and (min-width: 600px) {
    .comment {
        display: grid;
        justify-items: start;
        grid-template-columns: min-content repeat(3, 1fr);
        grid-template-areas:
           "score header header buttons"
           "score text text text"
           ". text text text";
    }

    .score {
        flex-direction: column;
        margin-right: 1rem;
        max-width: 2.88rem;
    }

    .score button {
        max-width: 100%;
        text-align: center;
    }
}